*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}
.logo_header{
    position: relative;
    width: 100vw;
    height: 8vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #D9D9D9;
}
#natgeologo{
    height: 5.5vh;
}


.right_align_search{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
    right: 10vw;
    z-index: 1;
}
.search_bar{
    background-color: white;
    position: absolute;
    width: fit-content;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hide_bar_bg{
    background-color: transparent;
}
.navbar_icon{
    width: 2vw;
    transition: width 0.5s ease-in-out;
    cursor: pointer;
}
#cancel_icon{
    min-width: 2vw;
    width: 2vw;
}
.search_container{
    width: 15vw;
    display: flex;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
#search_input{
    width: 12vw;
    border: none;
    outline: none;
    color: black;
    font-family: "Average Sans", serif;
}
#search_input::placeholder{
    color: rgb(47, 201, 17);
}
.hide_container{
    width: 0;
    overflow: hidden;
    pointer-events: none;
    color: black;
}

.animals_page{
    position: relative;
    height: 35vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: #D9D9D9 2px solid;
}

.animals_page video{
    position: absolute;
    width: 100vw;
    height: 35vh;
    object-fit: fill;
    z-index: -1;
}
.videobg_overlay{
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.4) 50%,
            rgba(0, 0, 0, 0.7) 90%);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.navbar{
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
    color: white;
    font-family: "georegular", serif;
    gap: 3vw;
    margin-top: 3vh;
}
#current_nav{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100rem;
    color: white;
    margin-left: 5vw;
}
.navbar_tag{
    position: relative;
    width: auto;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_tag a, #current_nav{
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-family: 'georegular', serif;
    color: white;
    font-weight: 300;
}
.navbar_tag a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: inherit;
    padding: 1.5rem 0;
    background-color: rgba(214, 214, 214, 0.5);
    border-radius: 100rem;
    transition: width 0.3s ease-in-out;
}
.navbar_tag a:hover::after{
    width: 100%;
}

.page_title{
    width: 100vw;
    position: relative;
}
.page_title h1{
    margin-left: 10vw;
    font-family: "geobold", serif;
    font-size: 2.7rem;
    color: white;
}
.page_title h1::after{
    content: '';
    position: absolute;
    top: 2vh;
    left: 9vw;
    height: 8vh;
    width: 0.4vw;
    background-color: #FFCC00;
}

#title_underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 85vw;
    background-color: #D9D9D9;
}


@media (max-width: 1000px) {

    .search_container{
        width: 35vw;
    }
    .hide_container{
        width: 0;
    }
    .right_align_search{
        top: 1vh;
        right: 7vw;
        margin: 0;
    }
    #cancel_icon,
    #search_icon {
        width: 6vw;
    }
    .logo_header{
        justify-content: flex-start;
    }
    #natgeologo{
        margin-left: 7vw;
        width: 30vw;
        height: auto;
    }
    .navbar{
        gap: 8vw;
        overflow-x: auto;
        scrollbar-width: none;
    }

    /* formats navbar elements to be in 1 line to fit hover effect */
    .navbar_tag a, #current_nav{
        padding: 1rem 1rem;
        white-space: nowrap;
    }

    /* scale hover element in mobile, and adds spacing to last element */
    .navbar_tag{
        height: 5vh;
    }
    .navbar_tag:last-child{
        margin-right: 7vw;
    }
    .page_title h1{
        font-size: 2.5rem;
    }
    .page_title h1::after{
        left: 8vw;
        width: 1vw;
        height: 6vh;
    }
    .animals_page{
        height: 25vh;
    }
    .animals_page video{
        height: 25vh;
    }
    









}






@font-face{
    font-family: 'geomedium';
    src: url('fonts/geographwebmedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'geobold';
    src: url('fonts/geographeditwebbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'georegular';
    src: url('fonts/geographwebregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'leelawadee';
    src: url('fonts/leelawad.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
