/* style scrollbar */

html::-webkit-scrollbar {
    background-color: black;
    width: 1vw;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, yellow);
    border-radius: 100em;
    transition: background 0.5s ease-in-out;
}

html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, rgb(141, 141, 50));
    border-radius: 100em;
}

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}
.animals_header{
    position: relative;
    width: 100vw;
}
.logo_header{
    position: relative;
    width: 100vw;
    height: 8vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #D9D9D9;
}
#natgeologo{
    height: 5.5vh;
}

.backlink{
    position: absolute;
    top: 2.5vh;
    left: 3vw;
    display: flex;
    align-items: center;
}
.backlink a{
    text-decoration: none;
    color: white;
    font-family: "georegular", serif;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.backlink img{
    height: 3vh;
    margin-right: 0.2vw;
}
.backlink a:hover{
    text-decoration: underline;
}

.right_align_search{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
    right: 10vw;
    z-index: 1;
}
.search_bar{
    background-color: white;
    position: absolute;
    width: fit-content;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hide_bar_bg{
    background-color: transparent;
}
.navbar_icon{
    width: 2vw;
    transition: width 0.5s ease-in-out;
    cursor: pointer;
}
#cancel_icon{
    min-width: 2vw;
    width: 2vw;
}
.search_container{
    width: 15vw;
    display: flex;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
#search_input{
    width: 12vw;
    border: none;
    outline: none;
    color: black;
    font-family: "Average Sans", serif;
}
#search_input::placeholder{
    color: rgb(47, 201, 17);
}
.hide_container{
    width: 0;
    overflow: hidden;
    pointer-events: none;
    color: black;
}

.animals_page{
    position: relative;
    height: 35vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: #D9D9D9 2px solid;
}

.animals_page video{
    position: absolute;
    width: 100vw;
    height: 35vh;
    object-fit: fill;
    z-index: -1;
}
.videobg_overlay{
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.4) 50%,
            rgba(0, 0, 0, 0.7) 90%);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.navbar{
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
    color: white;
    font-family: "georegular", serif;
    gap: 3vw;
    margin-top: 3vh;
}
#current_nav{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100rem;
    color: white;
    margin-left: 5vw;
}
.navbar_tag{
    position: relative;
    width: auto;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_tag a, #current_nav{
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-family: 'georegular', serif;
    color: white;
    font-weight: 300;
}
.navbar_tag a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: inherit;
    padding: 1.5rem 0;
    background-color: rgba(214, 214, 214, 0.5);
    border-radius: 100rem;
    transition: width 0.3s ease-in-out;
}
.navbar_tag a:hover::after{
    width: 100%;
}

.page_title{
    width: 100vw;
    position: relative;
}
.page_title h1{
    margin-left: 10vw;
    font-family: "geobold", serif;
    font-size: 2.7rem;
    color: white;
}
.page_title h1::after{
    content: '';
    position: absolute;
    top: 2vh;
    left: 8.5vw;
    height: 8vh;
    width: 0.35vw;
    background-color: #FFCC00;
}

#title_underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 85vw;
    background-color: #D9D9D9;
}


.news_articles{
    position: relative;
    width: 100vw;
    height: auto;
    background-color: black;
}

/* minus the view height of logo header, animals page and padding to fill the remaining space */
.head_article{
    position: relative;
    width: 100vw;
    padding-top: 5vh;
    height: calc(100vh - 8vh - 35vh - 5vh);
    display: flex;

}
.ha_sidetext, .ha_image{
    width: 50%;
    height: 100%;
    position: relative;
}
.ha_image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ha_image img{
    width: 80%;
    height: 100%;
    margin-right: 10%;
}
.ha_sidetext {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.ha_sidetext h2{
    margin-top: 10vh;
    width: 70%;
    font-family: "geomedium", serif;
    font-weight: 200;
    font-size: 2rem;
    color: white;
}
.ha_sidetext h5{
    margin-top: 6vh;
    width: 70%;
    font-family: "leelawadee", serif;
    font-weight: 200;
    font-size: 1.1rem;
    color: white;
}
.read_more{
    position: relative;
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: fit-content;
    padding: 1rem 2.5rem;
    background-color: #FFCC00;
    border-radius: 0.5rem;
    z-index: 0;
    overflow: hidden;
}
.read_more p{
    color: black;
    font-family: "geooblique", serif;
    font-weight: 400;
    font-size: 1.25rem;
    z-index: 1;
}
.read_more::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    border-radius: 0 0 70% 70%;
    background-color: rgb(172, 172, 227);
    transition: height 0.4s ease-in-out;
    z-index: -1;
}
.read_more:hover::before{
    height: 180%;
}
.ha_sidetext a{
    text-decoration: none;
}
.ha_timestamp{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(2.5vw);
    z-index: 1;
}
.ha_timestamp img{
    height: 100%;
}
.ha_timestamp p{
    font-family: "georegular", serif;
    font-size: 0.9rem;
    color: white;
    margin-left: 0.2vw;
}
.recent_articles{
    position: relative;
    width: 100vw;
    height: auto;
}
.recent_articles_title{
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2vh;
}
.recent_articles_title h3{
    color: white;
    font-family: "georegular", serif;
    font-weight: 600;
    margin-left: 7.5vw;
    font-size: 1.6rem;
}
.recent_articles_title h3::after{
    content: '';
    position: absolute;
    height: 0.5vh;
    width: 19vw;
    top: 10.5vh;
    left: 7.5vw;
    background-color: rgba(255, 204, 0, 0.6);
}
.article_container{
    width: 100vw;
    height: 30vh;
}








@media (max-width: 1000px) {

    .backlink{
        display: none;
    }
    .search_container{
        width: 35vw;
    }
    .hide_container{
        width: 0;
    }
    .right_align_search{
        top: 1vh;
        right: 7vw;
        margin: 0;
    }
    #cancel_icon,
    #search_icon {
        width: 6vw;
    }
    .logo_header{
        justify-content: flex-start;
    }
    #natgeologo{
        margin-left: 7vw;
        width: 30vw;
        height: auto;
    }
    .navbar{
        gap: 8vw;
        overflow-x: auto;
        scrollbar-width: none;
    }

    /* formats navbar elements to be in 1 line to fit hover effect */
    .navbar_tag a, #current_nav{
        padding: 1rem 1rem;
        white-space: nowrap;
    }

    /* scale hover element in mobile, and adds spacing to last element */
    .navbar_tag{
        height: 5vh;
    }
    .navbar_tag:last-child{
        margin-right: 7vw;
    }
    .page_title h1{
        font-size: 2.5rem;
    }
    .page_title h1::after{
        left: 6.5vw;
        width: 1vw;
        height: 6vh;
    }
    .animals_page{
        height: 25vh;
    }
    .animals_page video{
        height: 25vh;
    }
    .head_article{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        padding: 0;
    }
    .ha_sidetext, .ha_image{
        width: 100vw;
    }
    .ha_timestamp{
        right: auto;
        left: 5vw;
        height: 2.5vh;
        top: 34.3vh;
    }
    .ha_sidetext{
        height: auto;
        justify-content: space-between;
    }
    .ha_sidetext h2, .ha_sidetext h5{
        margin: 0;
        padding: 0;
        width: 85vw;
    }
    .ha_sidetext h2{
        margin-top: 3vh;
        font-size: 1.4rem;
    }
    .ha_sidetext h5{
        font-size: 1rem;
        margin-top: 30vh;
    }
    .read_more{
        margin: 3vh 0 3vh 0;
    }
    .ha_image{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        top: 0;
    }
    .ha_image img{
        margin: 11vh 0 0 0;
        width: 85%;
        height: 26vh;
    }
    .read_more{
        z-index: 1;
    }


    .recent_articles_title{
        height: 5vh;
    }
    .recent_articles_title h3{
        font-size: 1.7rem;
    }
    .recent_articles_title h3::after{
        top: 5.5vh;
        width: 72vw;
    }







}






@font-face{
    font-family: 'geomedium';
    src: url('fonts/geographwebmedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'geobold';
    src: url('fonts/geographeditwebbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'georegular';
    src: url('fonts/geographwebregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'leelawadee';
    src: url('fonts/leelawad.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'geooblique';
    src: url('fonts/Geo\ Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
