/* style scrollbar */

html::-webkit-scrollbar {
    background-color: black;
    width: 1vw;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, yellow);
    border-radius: 100em;
    transition: background 0.5s ease-in-out;
}

html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, rgb(141, 141, 50));
    border-radius: 100em;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.animals_header {
    position: relative;
    width: 100vw;
}

.logo_header {
    position: relative;
    width: 100vw;
    height: 8vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #D9D9D9;
}

#natgeologo {
    height: 5.5vh;
}

.backlink {
    position: absolute;
    top: 2.5vh;
    left: 3vw;
    display: flex;
    align-items: center;
}

.backlink a {
    text-decoration: none;
    color: white;
    font-family: "georegular", serif;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.backlink img {
    height: 3vh;
    margin-right: 0.2vw;
}

.backlink a:hover {
    text-decoration: underline;
}

.right_align_search {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
    right: 10vw;
    z-index: 1;
}

.search_bar {
    background-color: white;
    position: absolute;
    width: fit-content;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hide_bar_bg {
    background-color: transparent;
}

.navbar_icon {
    width: 2vw;
    transition: width 0.5s ease-in-out;
    cursor: pointer;
}

#cancel_icon {
    min-width: 2vw;
    width: 2vw;
}

.search_container {
    width: 15vw;
    display: flex;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

#search_input {
    width: 12vw;
    border: none;
    outline: none;
    color: black;
    font-family: "Average Sans", serif;
}

#search_input::placeholder {
    color: rgb(47, 201, 17);
}

.hide_container {
    width: 0;
    overflow: hidden;
    pointer-events: none;
    color: black;
}

.animals_page {
    position: relative;
    height: 35vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: #D9D9D9 2px solid;
}

.animals_page video {
    position: absolute;
    width: 100vw;
    height: 35vh;
    object-fit: fill;
    z-index: -1;
}

.videobg_overlay {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.4) 50%,
            rgba(0, 0, 0, 0.7) 90%);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
    color: white;
    font-family: "georegular", serif;
    gap: 3vw;
    margin-top: 3vh;
}

#current_nav {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100rem;
    color: white;
    margin-left: 5vw;
}

.navbar_tag {
    position: relative;
    width: auto;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_tag a,
#current_nav {
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-family: 'georegular', serif;
    color: white;
    font-weight: 300;
}

.navbar_tag a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: inherit;
    padding: 1.5rem 0;
    background-color: rgba(214, 214, 214, 0.5);
    border-radius: 100rem;
    transition: width 0.3s ease-in-out;
}

.navbar_tag a:hover::after {
    width: 100%;
}

.page_title {
    width: 100vw;
    position: relative;
}

.page_title h1 {
    margin-left: 10vw;
    font-family: "geobold", serif;
    font-size: 2.7rem;
    color: white;
}

.page_title h1::after {
    content: '';
    position: absolute;
    top: 2vh;
    left: 8.5vw;
    height: 8vh;
    width: 0.35vw;
    background-color: #FFCC00;
}

#title_underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 85vw;
    background-color: #D9D9D9;
}


.news_articles {
    position: relative;
    width: 100vw;
    height: auto;
    background: linear-gradient(to bottom, #222222 0%, #2f2f2f 20%, #171717 40%, #000000 100%);
    display: flex;
    flex-direction: column;
}

/* minus the view height of logo header, animals page and padding to fill the remaining space */
.head_article {
    position: relative;
    width: 100vw;
    padding-top: 5vh;
    height: calc(100vh - 8vh - 35vh - 5vh);
    display: flex;

}

.ha_sidetext,
.ha_image {
    width: 50%;
    height: 100%;
    position: relative;
}

.ha_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ha_image img {
    width: 80%;
    height: 100%;
    margin-right: 10%;
}

.ha_sidetext {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.ha_sidetext h2 {
    margin-top: 10vh;
    width: 70%;
    font-family: "geomedium", serif;
    font-weight: 200;
    font-size: 2rem;
    color: white;
}

.ha_sidetext h5 {
    margin-top: 6vh;
    width: 70%;
    font-family: "leelawadee", serif;
    font-weight: 200;
    font-size: 1.1rem;
    color: white;
}

.read_more {
    position: relative;
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: fit-content;
    padding: 1rem 2.5rem;
    background-color: #FFCC00;
    border-radius: 0.5rem;
    z-index: 0;
    overflow: hidden;
}

.read_more p {
    color: black;
    font-family: "geooblique", serif;
    font-weight: 400;
    font-size: 1.25rem;
    z-index: 1;
}

.read_more::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    border-radius: 0 0 70% 70%;
    background-color: rgb(172, 172, 227);
    transition: height 0.4s ease-in-out;
    z-index: -1;
}

.read_more:hover::before {
    height: 180%;
}

.ha_sidetext a {
    text-decoration: none;
}

.ha_timestamp {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(2.5vw);
    z-index: 1;
}

.ha_timestamp img {
    height: 100%;
}

.ha_timestamp p {
    font-family: "georegular", serif;
    font-size: 0.9rem;
    color: white;
    margin-left: 0.2vw;
}

.recent_articles {
    position: relative;
    width: 100vw;
    height: auto;
}

.recent_articles_title {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2vh;
}

.recent_articles_title h3 {
    color: white;
    font-family: "georegular", serif;
    font-weight: 600;
    margin-left: 7vw;
    font-size: 1.6rem;
}

.recent_articles_title h3::after {
    content: '';
    position: absolute;
    height: 0.3vh;
    width: 21vw;
    top: 10.5vh;
    left: 7vw;
    background-color: rgba(255, 204, 0, 0.6);
}

.article_container {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 15vh;
}

.article_item {
    position: relative;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.article_item img {
    width: 100%;
}

.article_item h4 {
    height: 10vh;
    font-family: "geomedium", serif;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 0.2px;
    color: white;
    margin-top: 0.8vh;
}

.article_item p {
    position: relative;
    margin-top: 2vh;
    font-family: "leelawadee", serif;
    font-size: 0.9rem;
    font-weight: 100;
    color: white;
}

.load_more_container {
    display: none;
}

/* style button as an absolute positioned element positioned below the article item */

.b_container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(51vh);
}
.b_container button{
    all: unset;
    width: 12vw;
    height: 7vh;
    background-color: #FFCC00;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "leelawadee", serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.b_container button:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: #5c5c5c;
}







.trivia {
    position: relative;
    width: 100vw;
    background: linear-gradient(to bottom, #09161A 5%, #473030 100%);
    padding-bottom: 4vh;
}

.trivia_title_container {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: flex-start;
    background-color: black;
}

.trivia_title {
    width: 50vw;
    background-color: #09161A;
    border-radius: 0 100rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trivia_title h1 {
    margin-right: 7vw;
    font-family: "Lexend Mega", serif;
    letter-spacing: -0.2vw;
    font-weight: 350;
    font-size: 2rem;
    color: white;
}

.trivia_container {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity_container {
    position: relative;
    padding: 5vh 0;
    width: 100vw;
    height: 45vh;
    display: flex;
}

.image_container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_container img {
    width: 80%;
    height: 100%;
    border-radius: 1rem;
}

.content_container {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content_container h5,
.content_container p {
    font-family: "leelawadee", serif;
    color: white;
}

.content_container h5 {
    font-size: 1.8rem;
    font-weight: 200;
}

.content_container p {
    font-size: 1.2rem;
    font-weight: 100;
    width: 70%;
}

.content_container a{
    text-decoration: none;
}

.activities_button {
    position: relative;
    width: fit-content;
    padding: 1.25rem 3rem;
    background-color: #FFCC00;
    display: flex;
    border-radius: 0.5rem;
    z-index: 0;
    overflow: hidden;
    cursor: pointer;
}

.activities_button p {
    font-size: 1.3rem;
    font-family: "geooblique", serif;
    width: fit-content;
    color: black;
}

.activities_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    border-radius: 0 0 70% 70%;
    background-color: rgb(172, 172, 227);
    transition: height 0.4s ease-in-out;
    z-index: -1;
}

.activities_button:hover::before {
    height: 180%;
}

.trivia_activity_2 {
    flex-direction: row-reverse;
    align-items: center;
}

.trivia_content_2 h5,
.trivia_content_2 p,
.trivia_content_2 .activities_button {
    margin-left: 5vw;
}

.trivia_content_2 .activities_button p {
    margin: 0;
}





/* FOOTER PART */
footer {
    position: relative;
    width: 100vw;
    display: flex;
    background-color: #000000;
    justify-content: space-evenly;
    padding-top: 7vh;
    padding-left: 4vw;
    padding-bottom: 10vh;
}

.connected_follow {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 20vw;
}

.stay_connected {
    position: relative;
    width: 19vw;
    height: 30vh;
}

.stay_connected h1 {
    font-family: "Lisu Bosa", serif;
    font-weight: 1000;
    color: white;
    margin-bottom: 5vh;
}

.stay_connected p {
    font-family: "leelawadee", serif;
    font-weight: 400;
    color: white;
}

.your_email {
    margin-top: 3vh;
    width: 16vw;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: #D9D9D9 2px solid;
    justify-content: space-between;
}

/* forms is used for email part to make it typable */
.your_email input {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 0.5vw;
    font-family: "leelawadee", serif;
    font-weight: 400;
    font-size: 0.95rem;
    background-color: black;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: transparent;
}

/* remove default styling of input box to make it fit theme */
.your_email input:focus {
    outline: none;
    border: none;
}

/* styling and arrangement of footer elements */
.your_email img {
    height: 2.8vh;
}

.your_email img:hover {
    cursor: pointer;
}

.follow_us {
    width: 30vw;
    height: 20vh;
}

.follow_image_container {
    margin-top: 1vh;
    display: flex;
    gap: 0.5vw;

}

.follow_us p {
    font-family: "leelawadee", serif;
    font-weight: 400;
    color: white;
}

.our_sites {
    width: 18vw;
    display: flex;
    justify-content: center;
}

.site_links {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 1.2vh;
}

.site_links a {
    width: 12vw;
    text-decoration: none;
    color: white;
    font-family: "leelawadee", serif;
}

.site_links a:hover {
    text-decoration: underline;
}

.our_sites h1 {
    font-family: "Lisu Bosa", serif;
    font-weight: 1000;
    color: white;
}

.contact_us {
    width: 30vw;
}

.contact_us h1 {
    font-family: "Lisu Bosa", serif;
    font-weight: 1000;
    color: white;
}

.contact_details {
    width: 100%;
    height: 20vh;
    margin-top: 7vh;
}

.footer_detail {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.footer_detail p {
    margin-left: 1vw;
    color: white;
    font-family: "leelawadee", serif;
    font-weight: 400;
}

.footer_detail p:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* copyright part is added to the bottom of the padding of the footer element with position absolute */
.copyright {
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 10vh;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top: 1px rgba(217, 217, 217, 0.7) solid;
}

#copyright_logo {
    margin-left: 10vw;
    height: 6vh;
}

.copyright p {
    width: fit-content;
    margin-left: 5vw;
    color: rgba(255, 255, 255, 0.6);
}








@media (max-width: 1000px) {

    .backlink {
        display: none;
    }

    .search_container {
        width: 35vw;
    }

    .hide_container {
        width: 0;
    }

    .right_align_search {
        top: 1vh;
        right: 7vw;
        margin: 0;
    }

    #cancel_icon,
    #search_icon {
        width: 6vw;
    }

    .logo_header {
        justify-content: flex-start;
    }

    #natgeologo {
        margin-left: 7vw;
        width: 30vw;
        height: auto;
    }

    .navbar {
        gap: 8vw;
        overflow-x: auto;
        scrollbar-width: none;
    }

    /* formats navbar elements to be in 1 line to fit hover effect */
    .navbar_tag a,
    #current_nav {
        padding: 1rem 1rem;
        white-space: nowrap;
    }

    /* scale hover element in mobile, and adds spacing to last element */
    .navbar_tag {
        height: 5vh;
    }

    .navbar_tag:last-child {
        margin-right: 7vw;
    }

    .page_title h1 {
        font-size: 2.5rem;
    }

    .page_title h1::after {
        left: 6.5vw;
        width: 1vw;
        height: 6vh;
    }

    .animals_page {
        height: 25vh;
    }

    .animals_page video {
        height: 25vh;
    }

    .news_articles {
        background: linear-gradient(to bottom, #222222 0%, #2f2f2f 15%, #171717 30%, #000000 50%);
    }

    .head_article {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        padding: 0;
    }

    .ha_sidetext,
    .ha_image {
        width: 100vw;
    }

    .ha_timestamp {
        right: auto;
        left: 5vw;
        height: 2.5vh;
        top: 34.3vh;
    }

    .ha_sidetext {
        height: auto;
        justify-content: space-between;
    }

    .ha_sidetext h2,
    .ha_sidetext h5 {
        margin: 0;
        padding: 0;
        width: 85vw;
    }

    .ha_sidetext h2 {
        margin-top: 3vh;
        font-size: 1.4rem;
    }

    .ha_sidetext h5 {
        font-size: 1rem;
        margin-top: 30vh;
    }

    .read_more {
        margin: 3vh 0 3vh 0;
    }

    .ha_image {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        top: 0;
    }

    .ha_image img {
        margin: 11vh 0 0 0;
        width: 85%;
        height: 26vh;
    }

    .read_more {
        z-index: 1;
    }


    .recent_articles_title {
        height: 5vh;
    }

    .recent_articles_title h3 {
        font-size: 1.7rem;
    }

    .recent_articles_title h3::after {
        top: 5.5vh;
        width: 72vw;
    }


    .article_container {
        margin: 0;
        flex-direction: column;
        gap: 2.5vh;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;
    }

    .article_item {
        display: flex;
        margin: 0;
        width: 95vw;
        flex-direction: row;
        align-items: center;
        margin-left: 3vw;
    }

    .article_item img {
        margin: 0;
        height: 14vh;
        width: 45vw;
    }

    .article_item h4,
    .article_item p {
        margin: 0;
    }

    .article_item p {
        display: none;
    }

    .article_item h4 {
        width: 48%;
        margin-left: 3vw;
        font-size: 1.2rem;
        height: auto;
    }


    .load_more_container {
        margin: 5vh 0;
        display: flex;
        width: 100vw;
        height: auto;
        justify-content: center;
        transition: margin 0.3s ease-in-out;
    }

    .load_more_button {
        display: flex;
        width: 40vw;
        height: 6vh;
        justify-content: center;
        align-items: center;
        background-color: #FFCC00;
        gap: 2vw;
        border-radius: 0.5rem;
        z-index: 1;
    }

    .load_more_button p {
        font-family: "geooblique", serif;
        font-size: 1.3rem;
        color: black;
    }

    .ac_1 {
        z-index: 1;
        background-color: black;
    }

    .ac_2 {
        position: absolute;
        z-index: 0;
        transition: transform 0.3s ease-in-out;
    }

    #load_arrow {
        transition: transform 0.3s ease-in-out;
    }


    .trivia {
        padding-bottom: 1vh;
    }

    .trivia_title {
        width: 90vw;
    }

    .trivia_title h1 {
        margin-right: 2vh;
        font-size: 1.4rem;
    }

    .activity_container {
        flex-direction: column;
        height: auto;
        align-items: center;
        width: 100vw;
        padding: 3vh 0;
    }

    .image_container {
        width: 100%;
    }

    .image_container img {
        width: 90%;
    }

    .content_container {
        margin-top: 2vh;
        display: flex;
        width: 90vw;
        max-width: 90vw;
        height: 10vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .content_container h5 {
        width: 55%;
        font-size: 1.6rem;
    }

    .content_container p {
        display: none;
    }

    .content_container {
        width: 100vw;
    }

    .activities_button {
        width: 35vw;
        height: 7vh;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .activities_button p {
        display: block;
        font-size: 1.4rem;
        color: black;
    }

    .trivia_content_2 h5 {
        padding: 0;
        margin: 0;
        font-size: 1.6rem;
    }

    .b_container{
        display: none;
    }




    /* FOOTER PART */

    /* mostly just rearranging of elements in footer, except for the logo below */
    footer {
        position: relative;
        flex-direction: column;
        overflow: hidden;
        margin: 0;
        padding: 5vh 0 52vh 0;
    }

    .connected_only {
        margin-left: 5vw;
        width: 40vw;
        font-size: 0.8rem;
    }

    .your_email {
        width: 35vw;

    }

    .your_email img {
        transform: translateX(-8vw);
    }

    .contact_us {
        position: absolute;
        width: 40vw;
        word-break: break-word;
        top: 5vh;
        right: 6vw;
        font-size: 0.8rem;
    }

    .our_sites {
        position: absolute;
        top: 32vh;
        width: 70vw;
        margin-left: 15vw;
        font-size: 0.9rem;
    }

    .our_sites h1 {
        margin-left: 25vw;
    }

    .site_links {
        width: 80vw;
        height: 17vh;
        display: flex;
        flex-wrap: wrap;
    }

    .site_links a {
        width: 40vw;
    }

    .contact_details {
        margin-top: 0;
    }

    .contact_us img {
        margin-right: 2vw;
        transform: translateY(-0.5vh);
    }

    .follow_us {
        position: absolute;
        top: 52vh;
        left: 21vw;
        display: flex;
        justify-content: center;
        width: 50vw;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
    }

    .follow_image_container {
        gap: 5vw;
    }

    .follow_image_container img {
        width: 8vw;
    }

    .follow_us {
        margin-left: 2vw;
    }

    .follow_us p {
        text-align: center;
        font-size: 1.5rem;
        width: 30vw;
        margin-bottom: 1vh;
    }

    /* removed nat geo logo from footer in mobile view as it just takes up space and
    there is not much point of it on phone, may also block other elements if not removed */
    #copyright_logo {
        display: none;
    }

}






@font-face {
    font-family: 'geomedium';
    src: url('fonts/geographwebmedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geobold';
    src: url('fonts/geographeditwebbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'georegular';
    src: url('fonts/geographwebregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'leelawadee';
    src: url('fonts/leelawad.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geooblique';
    src: url('fonts/Geo\ Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}