html::-webkit-scrollbar{
    background-color: black;
    width: 1vw;
}
html::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, yellow);
    border-radius: 100em;
    transition: background 0.5s ease-in-out;
}
html::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, rgb(141, 141, 50));
    border-radius: 100em;
}



*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.right_align_search{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4.2vh;
    margin-left: 46vw;
}
.search_bar{
    background-color: white;
    position: absolute;
    width: fit-content;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hide_bar_bg{
    background-color: transparent;
}
.navbar_icon{
    width: 2vw;
    transition: width 0.5s ease-in-out;
    cursor: pointer;
}
#cancel_icon{
    min-width: 2vw;
    width: 2vw;
}
.search_container{
    width: 15vw;
    display: flex;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
#search_input{
    width: 12vw;
    border: none;
    outline: none;
    color: black;
    font-family: "Average Sans", serif;
}
#search_input::placeholder{
    color: rgb(47, 201, 17);
}
.hide_container{
    width: 0;
    overflow: hidden;
    pointer-events: none;
    color: black;
}
nav{
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: flex-end;
}
#natgeologo{
    margin: 0 0 1vh 3vw;
    width: 10vw;
}
.navbar_right{
    width: 30vw;
    height: 12vh;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 5vw;
    top: 0;
    justify-content: space-between;
}
.navbuttons{
    margin-bottom: 1vh;
    position: relative;
    font-family: georegular;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
    width: 14vw;
    justify-content: space-between;
}
.navbuttons a, #subscribe_pagelink{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.yellow_overlay{
    background: linear-gradient(to right, white 50%, yellow 50%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-in-out;
}
.yellow_overlay:hover{
    background-position: -100%;
}
#subscribe_page{
    overflow: hidden;
}
/* #subscribe_pagelink::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    width: 10vw;
} */
/* .navbuttons a:hover{
    color: transparent;
}
.navbuttons a::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background: yellow; 
    transition: all 0.3s ease-in-out;
    z-index: 0;
} */

.navbuttons a:hover::before {
    left: 0;
    z-index: -1;
}
#home_search{
    position: absolute;
    right: 42vw;
    top: 10vh;
    text-decoration: none;
    color: white;
}
.select_container{
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    text-align: center;
}
#select_box{
    padding: 0 2rem 0 0;
    margin-right: 2vw;
    height: 5vh;
    border-radius: 1em;
    border: none;
    width: 8vw;
    color: black;
    background-color: rgb(204, 255, 0);
    appearance: none;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: georegular;
}
.select_icon_container{
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 0.6vw;
}
.select_icon_container{
    font-size: 15px;
}
#menu_carot{
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
}
#menu_carot.rotate{
    transform: rotate(-180deg);
}

/* .nav_explore::after{
    content: '';
    position: absolute;
    top: -2.2vh;
    right: -0.7vw;
    width: 8vw;
    height: 7vh;
    border: 1px white solid;
    border-radius: 2vh;
    pointer-events: none;
} */
 /* .nav_explore{
    background-color: aliceblue;
    position: relative;
}
 .div_explore{
    width: 10vw;
    height: 10vh;
    background-color: #CFBE43;
 }
 .dropdown{
    box-sizing: border-box;
 }
 .selected{
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
 }
#div_explore{
    display: flex;
}
#div_explore i{
    color: white;
    margin-left: 1vw;
    
} */



.shows_header{
    height: 90vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}
#eagle1{
    height: 90vh;
}
.show_details{
    position: absolute;
    width: 40vw;
    height: 50vh;
    right: 8vw;
    top: 30vh;
    display: flex;
    flex-direction: column;
}
.show_details h1{
    text-align: center;
    position: relative;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    color: white;
    letter-spacing: calc(1px + 0.1vw);
    font-size: 4rem;
    margin: 0;
}
.show_details h5{
    text-align: center;
    position: relative;
    font-family: "Space Mono", serif;
    font-weight: 400;
    letter-spacing: 0.5vw;
    font-size: 1.7rem;
    color: white;
}
.show_details h3{
    text-align: center;
    font-size: 2.1rem;
    font-family: "Irish Grover", serif;
    margin-top: 7vh;
    color: #CFBE43;
}
.time_container{
    position: relative;
    margin-top: 3vh;
    width: 90%;
    left: 5%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}
.time_block{
    display: flex;
    flex-direction: column;
}
.time_block p{
    margin-left: 1.55vw;
    width: 10vw;
    position: absolute;
    line-height: 12vh;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: "Space Mono", serif;
    letter-spacing: 3.3vw;
}
.time_number_group{
    display: flex;
    gap: 5px;
}
.time_number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
    height: 4vh;
    padding: 30px;
    background-color: #513434;
    border-radius: 15px;
}
.time_label{
    font-family: "Space Mono", serif;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
.cloud{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 70vh;
}
.cloud_item{
    width: 50vw;
}



.trending_shows{
    height: auto;
    width: 100vw;
    background: url(resources/Home_Page/Figma\ mesh.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* .trending_shows::before{
    content: '';
    position: absolute;
    top: 100vh;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.4) 70%,
        rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 0;
    
} */
.netflix_shows{
    padding-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}
.trending_shows_title{
    display: flex;
    padding: 15vh 0 0 10vw;
    width: 100vw;
    align-items: center;
}
.trending_shows_title h2{
    letter-spacing: 2px;
    font-size: 2rem;
    color: white;
    font-family: "Julius Sans One", serif;
}
.trending_shows_title img{
    margin-left: 1vw;
    width: 12vw;
    height: 8vh;
}
.animals_trailer{
    margin-top: 5vh;
    position: relative;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.netflix_video{
    position: relative;
    width: 80vw;
    display: flex;
    justify-content: center;
}
#toggle_mute{
    display: none;
}
#audio_button{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(81, 52, 52, 0.6);
    border-radius: 50%;
}
#audio_button img{
    width: 2vw;
    cursor: pointer;
}
.animals_trailer video{
    border-radius: 1em;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.netflix_overlay{
    border-radius: 1em;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1) 0%,   
        rgba(0, 0, 0, 0.5) 40%, 
        rgba(0, 0, 0, 0.8) 60%, 
        rgba(0, 0, 0, 1) 100%
      );

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.netflix_desc{
    margin-right: 2vw;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.netflix_desc h1{
    margin-top: 5vh;
    color: white;
    font-family: "Inria Serif", serif;
    font-weight: 1000;
    font-size: 2rem;

}
.netflix_desc p{
    margin-top: 5vh;
    text-align: center;
    font-family: "Average Sans", serif;
    color: white;
}
.stars_review{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stars_review h5{
    margin-top: 0.7vh;
    margin-right: 0.5vw;
    color: white;
    font-family: "Julius Sans One", serif;
    font-size: 1.2rem;
    font-weight: 400;
}
.star{
    width: 1.5rem;
}

.disney_movies{
    position: relative;
    height: auto;
    width: 100vw;
    padding-bottom: 13vh;
}
.disney_movies img{
    height: 14vh;
}
.disney_title{
    margin-top: 0;
    padding: 10vh 0 0 10vw;
}
.disney_shows{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.disney_wrapper{
    padding: 5vh 3vw;
    margin-top: 2vh;
    width: 80vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    border-radius: 1.5rem;
    box-shadow: rgba(130, 130, 174, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}
.film_item{
    position: relative;
    width: 12vw;
    height: 28vh;
    cursor: pointer;
}
.film_item:nth-child(1) {
    background-image: url('resources/Home_Page/Disney_films/film1.jpg');
    background-size: cover;
}
.film_item:nth-child(2) {
    background-image: url('resources/Home_Page/Disney_films/film2.jpg');
    background-size: cover;
}
.film_item:nth-child(3) {
    background-image: url('resources/Home_Page/Disney_films/film3.jpg');
    background-size: cover;
}
.film_item:nth-child(4) {
    background-image: url('resources/Home_Page/Disney_films/film4.jpg');
    background-size: cover;
}
.film_item:nth-child(5) {
    background-image: url('resources/Home_Page/Disney_films/film5.jpg');
    background-size: cover;
}
.film_item:nth-child(6) {
    background-image: url('resources/Home_Page/Disney_films/film6.jpg');
    background-size: cover;
}
.film_item:nth-child(7) {
    background-image: url('resources/Home_Page/Disney_films/film7.jpg');
    background-size: cover;
}


.latest_interesting_news{
    background: linear-gradient(to bottom, #000000 0%, #212636 70%, #292E43 100%);
    padding-bottom: 10vh;
    overflow: hidden;
}
.horizontal_wrapper{
    position: relative;
    height: auto;
    width: 100vw;
}
.scroll_title{
    width: 80vw;
    display: flex;
    padding: 10vh 0 0 10vw;
    display: flex;
    align-items: center;
}
.scroll_title h1{
    color: white;
    font-family: "Julius Sans One", serif;
    font-weight: 400;
}
.scroll_container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.item_container{
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.scroll_item{
    position: relative;
    height: 33vh;
    min-width: 26vw;
    background-color: #CFBE43;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.scroll_item p{
    width: 80%;
    text-decoration: none;
    color: white;
    text-align: center;
    z-index: 1;
    font-family: "Average Sans", serif;
    font-size: 1.3rem;
    margin-bottom: 2vh; 
}
.scroll_item span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) , rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0));
}
.item_container a{
    text-decoration: none;
}
.item_container a:nth-child(1) .scroll_item {
    background-image: url('resources/Home_Page/Latest_stories/story1.jpg');
    background-size: cover;
}
.item_container a:nth-child(2) .scroll_item {
    background-image: url('resources/Home_Page/Latest_stories/story2.jpg');
    background-size: cover;
}
.item_container a:nth-child(3) .scroll_item {
    background-image: url('resources/Home_Page/Latest_stories/story3.jpg');
    background-size: cover;
}
.item_container a:nth-child(4) .scroll_item {
    background-image: url('resources/Home_Page/Latest_stories/story4.jpg');
    background-size: cover;
}
.item_container a:nth-child(5) .scroll_item {
    background-image: url('resources/Home_Page/Latest_stories/story5.jpg');
    background-size: cover;
}
.item_container a:nth-child(6) .scroll_item {
    background-image: url('resources/Home_Page/Latest_stories/story6.jpg');
    background-size: cover;
}
.scroll_buttons{
    margin-left: 55vw;
}
.world_corners{
    margin-left: 44vw;
}
.sbutton{
    all: unset;
    width: 1.1vw;
    height: 4vh;
}
#scroll_left{
    background: url(resources/Iconify/arrow_left.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#scroll_right{
    margin-left: 1vw;
    background: url(resources/Iconify/arrow_right.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#scroll_left_corners{
    background: url(resources/Iconify/arrow_left.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#scroll_right_corners{
    margin-left: 1vw;
    background: url(resources/Iconify/arrow_right.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sbutton:focus{
    outline: revert;
}
.item_container a:nth-child(1) .corners_item {
    background-image: url(resources/Home_Page/Corners_of_the_world/corner1.jpg);
}
.item_container a:nth-child(2) .corners_item {
    background-image: url(resources/Home_Page/Corners_of_the_world/corner2.jpg);
}
.item_container a:nth-child(3) .corners_item {
    background-image: url(resources/Home_Page/Corners_of_the_world/corner3.jpg);
}
.item_container a:nth-child(4) .corners_item {
    background-image: url(resources/Home_Page/Corners_of_the_world/corner4.jpg);
}
.item_container a:nth-child(5) .corners_item {
    background-image: url(resources/Home_Page/Corners_of_the_world/corner5.jpg);
}
.item_container a:nth-child(6) .corners_item {
    background-image: url(resources/Home_Page/Corners_of_the_world/corner6.jpg);
}




.subscription {
    background: url(resources/Home_Page/underwater_background.jpeg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
}
.subscriptions_title{
    transform: translateY(-3vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscriptions_title h1{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 800;
    font-size: 2.8rem;
}
.subscriptions_title h5{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;

}

.subscription_plans_container{
    position: relative;
    height: auto;
    width: 90vw;
    display: flex;
    justify-content: center;
    gap: 5vw;
}
.subscription_plan{
    position: relative;
    background-color: #292A37;
    height: 70vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.price{
    position: absolute;
    width: 100%;
    height: 12%;
    background-color: #3F4050;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscription_plan h1{
    color: white;
    font-family: "Kumbh Sans", sans-serif;
    margin-top: 5vh;
}
.price p{
    font-family: 'average sans';
    font-size: 1.5rem;
    color: white;
}
.plan_features{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 28vh;
    gap: 2vh;
}
.plan_features p{
    font-family: 'average sans';
    font-size: 1.1rem;
    color: #F8F8FF;
}
.plan1_features p:nth-child(n+3):nth-child(-n+6) {
    color: rgba(248, 248, 255, 0.4);
}
.subscription_icon_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 10%;
    top: 28vh;
    gap: 2vh;
}
.subscription_icon_container img{
    width: 1.28rem;
}
.cancel_opacity{
    opacity: 0.4;
}
.start_exploring{
    position: absolute;
    bottom: 3.5vh;
    padding: 1.5rem 2.2rem;
    background-color: #454651;
    border-radius: 2rem;
    cursor: pointer;
}
.start_exploring p{
    color: white;
    font-family: 'average sans';
    font-size: 1.2rem;
}
.plan2_features p:nth-child(n+5):nth-child(-n+6) {
    color: rgba(248, 248, 255, 0.4);
}
.plan2_exploring{
    background-color: #195BFF;
}




/* FOOTER PART */
footer{
    position: relative;
    width: 100vw;
    display: flex;
    background-color: #000000;
    justify-content: space-evenly;
    padding-top: 7vh;
    padding-left: 4vw;
    padding-bottom: 10vh;
}
.connected_follow{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 20vw;
}
.stay_connected{
    position: relative;
    width: 19vw;
    height: 30vh;
}
.stay_connected h1{
    font-family: "Lisu Bosa", serif;
    font-weight: 1000;
    color: white;
    margin-bottom: 5vh;
}
.stay_connected p{
    font-family: "leelawadee", serif;
    font-weight: 400;
    color: white;
}
.your_email{
    margin-top: 3vh;
    width: 16vw;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: #D9D9D9 2px solid;
    justify-content: space-between;
}
.your_email input{
    color: rgba(255, 255, 255, 0.5);
    margin-left: 0.5vw;
    font-family: "leelawadee", serif;
    font-weight: 400;
    font-size: 0.95rem;
    background-color: black;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: transparent;
}
.your_email input:focus{
    outline: none;
    border: none;
}
.your_email img{
    height: 2.8vh;
}
.follow_us{
    width: 30vw;
    height: 20vh;
}
.follow_image_container{
    margin-top: 1vh;
    display: flex;
    gap: 0.5vw;

}
.follow_us p{
    font-family: "leelawadee", serif;
    font-weight: 400;
    color: white;
}
.our_sites{
    width: 18vw;
    display: flex;
    justify-content: center;
}
.site_links{
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 1.2vh;
}
.site_links a{
    width: 12vw;
    text-decoration: none;
    color: white;
    font-family: "leelawadee", serif;
}
.our_sites h1{
    font-family: "Lisu Bosa", serif;
    font-weight: 1000;
    color: white;
}
.contact_us{
    width: 30vw;
}
.contact_us h1{
    font-family: "Lisu Bosa", serif;
    font-weight: 1000;
    color: white;
}
.contact_details{
    width: 100%;
    height: 20vh;
    margin-top: 7vh;
}
.footer_detail{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}
.footer_detail p{
    margin-left: 1vw;
    color: white;
    font-family: "leelawadee", serif;
    font-weight: 400;
}
.copyright{
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 10vh;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top: 1px rgba(217, 217, 217, 0.7) solid;
}
.copyright img{
    margin-left: 10vw;
    height: 60%;
}
.copyright p{
    width: fit-content;
    margin-left: 5vw;
    color: rgba(255, 255, 255, 0.6);
}


@media (max-width: 1000px) {
    #eagle1 {
        content: url('resources/Home_Page/eagle\ 1\ cut.jpg'); 
        width: 100vw;
        height: auto;
        margin-top: 33vh;
    }
    .hide_container{
        max-width: 0;
        transition: 0.5s ease-in-out;
    }
    
    .right_align_search{
        top: 2vh;
        right: 10vw;
        position: absolute;
        background-color: #CFBE43;
    }
    .search_container{
        width: 25vw;
        transition: 0.5s ease-in-out;
    }
    #cancel_icon, #search_icon{
        width: 6vw;
    }
    nav{
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid white;
        padding-bottom: 7vh;
    }
    .natgeologospan{
        width: 100vw;
    }

    #natgeologo {
        position: relative;
        width: 30vw;
        margin-top: 2vh;
        left: 2vw;
        margin-left: 2vw;
    }

    .navbar_right {
        margin-top: 2vh;
        width: 100vw;
        height: auto;
        position: relative;
        display: flex;
        justify-content: space-around;
    }

    .navbuttons {
        width: 80%;
        gap: 12vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    #home_search {
        top: 4vh;
        right: 10vw;
    }

    #select_box{
        width: 28vw;
        height: 5vh;
        margin-right: 4vw;
        font-size: 15px;
    }
    #audio_button{
        margin: 0.5rem;
    }
    #audio_button img{
        width: 6vw;
    }
    /* .nav_explore::after {
        content: '';
        position: absolute;
        top: -1.1vh;
        right: -0.7vw;
        width: 26vw;
        height: 4.5vh;
        border: 1px white solid;
        border-radius: 1.5vh;
    } */



    .show_details {
        position: absolute;
        width: 80vw;
        height: auto;
        right: 10vw;
        top: 20vh;
        flex-direction: column;
    }

    .show_details h1 {
        font-size: 2.7rem;
        margin: 0;
    }

    .show_details h5 {
        margin: 0;
        font-size: 1.4rem;
    }

    .show_details h3 {
        font-size: 1.5rem;
        margin-top: 3vh;
    }

    .time_container {
        display: flex;
        gap: 5vw;
        flex-direction: row;
        height: auto;
        justify-content: center;
    }

    .time_block {
        margin-bottom: 5vh;
    }
    .time_block p{
        width: 25.5vw;
        line-height: 7.7vh;
        font-size: 2.6rem;
        margin-left: 3.4vw;
        letter-spacing: 7vw;
    }

    .time_number_group {
        gap: 2px;
    }

    .time_number {
        width: 7vw;
        height: 5vh;
        font-size: 1.7rem;
        padding: 12px;
    }

    .time_label {
        font-size: 1.2rem;
    }


    .cloud {
        pointer-events: none;
        top: 100vh;
        position: absolute;
    }

    .trending_shows_title{
        padding: 6vh 0 0 0;
    }
    .trending_shows_title h2{
        font-size: 1.5rem;
        padding-left: 10vw;
    }
    .trending_shows_title img{
        margin-left: 2vw;
        width: 30vw;
        height: 5vh;
    }
    
    .animals_trailer{
        height: 20vh; 
    }
    .netflix_shows{
        padding-top: 2vh;
    }
    .netflix_video{
        width: 90vw;
    }
    .netflix_overlay{
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.15) 0%,   
            rgba(0, 0, 0, 0.6) 40%, 
            rgba(0, 0, 0, 0.8) 60%, 
            rgba(0, 0, 0, 1) 100%
          );
    }
    .netflix_desc{
        background-color: black;
        position: absolute;
        width: 82vw;
        height: auto;
        top: 15vh;
        margin: auto;
        right: auto;
        display: flex;
        padding: 1rem;
        border-radius: 1rem;

    }
    .netflix_desc h1{
        font-size: 1.8rem;
        margin: 0;
    }
    .netflix_desc p{
        margin: 0;
    }
    

    .disney_movies{
        margin-top: 30vh;
    }
    .disney_movies h1{
        font-size: 1rem;
    }
    .disney_movies .trending_shows_title h2{
        font-size: 1.2rem;
    }
    .disney_movies .trending_shows_title img{
        height: 9vh;
        margin-bottom: 1vh;
    }
    .disney_wrapper{
        height: auto;
        padding: 2vh 5vw;
        overflow-x: auto;
        gap: 5vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0;
        scroll-behavior: smooth;
    }
    .film_item{
        min-width: 40vw;
        height: 26vh;
    }

    .item_container{
        gap: 10vw;
    }
    .scroll_item{
        height: 30vh;
        min-width: 75vw;
        border-radius: 1em;
    }
    .scroll_item span{
        border-radius: 1em;
    }
    .scroll_container{
        overflow-x: hidden;
    }
    .sbutton{
        width: 3vw;
        height: 3vh;
    }
    .scroll_buttons{
        margin-left: 16vw;
    }
    .scroll_title h1{
        width: 50vw;
        font-size: 1.8rem;
    }
    .disney_movies{
        padding-bottom: 5vh;
    }
    .scroll_title{
        padding: 5vh 0 0 10vw;
    }
    .latest_interesting_news{
        padding-bottom: 6vh;
    }
    .horizontal_wrapper, .scroll_container{
        padding-left: 1.5vw;
    }
    .latest_interesting_news{
        overflow-x: hidden;
    }


    .subscription{
        gap: 0;
    }
    .subscriptions_title h1{
        font-size: 2.2rem;
    }
    .subscription_plans_container{
        flex-direction: column;
        height: 80vh;
    }
    .subscription_plan{
        width: 100%;
        max-height: 25vh;
        border-radius: 2rem 0;
    }
    .start_exploring{
        display: none;
    }
    .price{
        height: 100%;
        width: 20%;
        right: 0;
        top: 0;
        border-radius: 2rem 0;
        cursor: pointer;
    }
    .price p{
        font-size: 1.2rem;
        text-align: center;
    }
    .plan_features{
        top: 1vh;
        margin-left: 3vw;
    }
    .plan_features p{
        font-size: 1rem;
    }
    .subscription_icon_container{
        top: 1.1vh;
        left: 16vw;
        gap: 1rem;
    }
    .subscription_plan h1{
        position: absolute;
        left: 0;
        top: 5.5vh;
        transform: rotate(-90deg);
    }






    /* FOOTER PART */
    footer{
        position: relative;
        padding-top: 5vh;
        flex-direction: column;
        padding-bottom: 52vh;
        overflow: hidden;
    }
    .connected_only{
        margin-left: 3vw;
        width: 40vw;
        font-size: 0.8rem;
    }
    .your_email{
        width: 35vw;
        
    }
    .your_email img{
        transform: translateX(-8vw);
    }

    .contact_us{
        position: absolute;
        width: 40vw;
        word-break: break-word;
        top: 5vh;
        right: 8vw;
        font-size: 0.8rem;
    }
    .our_sites{
        position: absolute;
        top: 32vh;
        width: 70vw;
        margin-left: 13vw;
        font-size: 0.9rem;
    }
    .our_sites h1{
        margin-left: 24vw;
    }
    .site_links{
        width: 80vw;
        height: 17vh;
        display: flex;
        flex-wrap: wrap;
    }
    .site_links a{
        width: 40vw;
    }
    .contact_details{
        margin-top: 0;
    }
    .contact_us img{
        margin-right: 2vw;
        transform: translateY(-0.5vh);
    }
    .follow_us{
        position: absolute;
        top: 52vh;
        left: 21vw;
        display: flex;
        justify-content: center;
        width: 50vw;
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
    }
    .follow_image_container{
        gap: 5vw;
    }
    .follow_image_container img{
        width: 8vw;
    }
    .follow_us p{
        text-align: center;
        font-size: 1.5rem;
        width: 30vw;
        margin-bottom: 1vh;
    }
    .copyright img{
        display: none;
    }
    


}







@font-face{
    font-family: 'geomedium';
    src: url('fonts/geographwebmedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'geobold';
    src: url('fonts/geographeditwebbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'georegular';
    src: url('fonts/geographwebregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'leelawadee';
    src: url('fonts/leelawad.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}